@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Nunito", sans-serif;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.active {
    @apply text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600;
}

.not-active {
    @apply hover:text-gray-600 hover:border-gray-300;
}
